@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
#root {
  color: #ffffff;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./assets/images/background.jpg");
  background-size: 105%;
  background-position: var(--bg-x, 50%) var(--bg-y, 50%);
  min-height: 100vh;
  overscroll-behavior: none;
  position: relative;
  transition: background-position 0.1s ease-out;
}

a {
  text-decoration: none;
}
@media (max-width: 768px) {
  #root {
    background-size: cover;
    background-position: center;
    overflow-y: auto;
    height: 100vh;
    -webkit-overflow-scrolling: touch;
  }
}
